# Purpur-API and Purpur-Server changes + paper-api-generator
DivineMC-API
DivineMC-Server
paper-api-generator/*

# IDE and Gradle things
build
.gradle
run
.idea

# VitePress (docs)
node_modules
docs/.vitepress/cache
docs/.vitepress/dist