# DivineMC-API and DivineMC-Server changes + paper-api-generator
DivineMC-API
DivineMC-Server
paper-api-generator/*

# IDE and Gradle things
build
.gradle
run
.idea

# Other files and folders
build-data